:root {
    --loader-width: 50px;
    --loader-height: 50px;
    --line-width: 0.25rem;
    --animation-duration: 1s;
    --loader-initial-scale: 0.1;
}

.loader.simple-circle {
    transform-origin: center center;
    border: var(--line-width, 0.25rem) solid var(--bs-white, #fff);
    border-right-color: var(--color-teal, #00f);
    width: var(--loader-width, 100px);
    height: var(--loader-height, 100px);
    border-radius: 50%;
    animation: circle-loader var(--animation-duration, 0.5s) infinite ease-out;
    position: fixed;
    top: 40%;
    left: 50%;
    background: var(--bs-light);
    opacity: 1;
}

.loader-container {
    position: fixed;
    width: 100vh;
    height: 100vh;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.5;
}

.loader, .loader:before, .loader:after {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
}

@keyframes circle-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* End of loader */
