body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --color-teal: #007B94
}

/* Utilities */
.rounded-custom {
    border-radius: 1rem !important;
}

.rounded-custom-bottom {
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}

.rounded-custom-sm {
    border-radius: 0.5rem !important;
}


/* Bootstrap Overrides */
.fs-1 {
    font-size: 36px !important;
}

.fs-2 {
    font-size: 28px !important;
}

.fs-3 {
    font-size: 20px !important;
}

